*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    transition: 1s ease;
}
@keyframes correct{
    50% {background: #c3de86;}
    100% {background: #c9cebd;}
}
@keyframes achive{
    50% {background: #bb93d4;}
    100% {background: #c9cebd;}
}
@keyframes wrong{
    50% {background: #b87c7c;}
    100% {background: #c9cebd;}
}
@keyframes typing1 {
    0% {
        width: 0%; 
        border-left: none;
        border-right: 2px solid #000;
    }
    30%, 60%{
        width: 100%;
        border-left: none;
        border-right: 2px solid #000;
    }
    99%{
        width: 1%;
        border-left: none;
        border-right: 2px solid #000;
    }
    100% {
        width: 0%;
        border-left: 2px solid #000;
        border-right: none;   
    }
}
body{
    background-color: #c9cebd;
}
.correct{
    animation: correct 1s linear;
}
.achive{
    animation: achive 1s linear;
}
.wrong{
    animation: wrong 1s linear;
}
#answer {
    height: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    border-left: 2px solid #000;
}
.answer{
    animation: typing1 4s steps(15, end);
}
.tip{
    display: none;
    width: 400px;
    height: 400px;
    background: url(img/alfabetcirkel.png) center no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 3px;
    transition: 1s ease;
}
.info-code{
    margin: auto;
    margin-top: 80px;
    width: 100px;
}
h3{
    display: none;
    width: 200px;
    margin-bottom: 10px;
}
.code{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 96px;
    height: 30px;
    border: black solid 2px;
    border-radius: 6px;
}
.Send{
    background: #006C67;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}
.cat{
    display: none;
    background: url(img/maxwell-cat.gif) center no-repeat;
    margin: auto;
    width: 400px;
    height: 300px;
}
.me{
    display: none;
    background: url(img/Me.jpg) no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 250px;
}
.secrets{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
.secret{
    background: #bccd95 url(img/secret.png) center no-repeat;
    background-size: 150px 150px;
    width: 650px;
    height: 350px;
    border-radius: 4px;
    margin: 20px;
    margin-top: 80px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}
#s1{
    background: url(img/WeAreB32b.png) center;
    background-size: cover;
}
#s2{
    background: url(img/Yehor.jpg) center no-repeat;
    background-size: cover;
}
#s3{
    background: url(img/Emre.jpg);
    background-size: cover;
}
#s4{
    background: #bccd95 url(img/Artyom.png) center no-repeat;
    background-size: 250px 350px;
}
.display-block{
    display: block;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}

@media only screen and (min-width: 200px) and (max-width: 500px){
    .tip{
        margin-top: 5px;
        width: 60%;
        height: 200px;
    }
    h3{
        font-size: 15px;
    }
    .secret{
        width: 95%;
        height: 250px;
        margin: 0px;
        margin-top: 40px;
    }
    .info-code{
        margin-top: 50px;
    }
    #s4{
        background-size: 200px 250px;
    }
}